@page
@using Cloud.Models
@using System.IO
@using Microsoft.Extensions.Hosting
@using System.Diagnostics
@model IndexModel
@inject ApplicationDbContext db;
@inject IHostEnvironment _env;
@{
    var user = await User.GetUser();
    ViewData["Title"] = "Home page";
    string currentPath = _env.ContentRootPath + "/Data/" + user.Id + "/" + Model.Path;

}

<style>
    .ficon {
        display: flex;
        align-items: center
    }
</style>
<h3 class="mt-3">Files</h3>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#fileUploadModal">
    Upload
</button>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#newFolderModal">
    New Folder
</button>
<table class="table table-hover table-responsive" style="font-size: 1.2em">
    <thead>
        <tr>
            <td>Name</td>
            <td></td>
            <td>Size</td>
            <td>Modified</td>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
        }
        @foreach (var dir in Directory.GetDirectories(currentPath))
        {
            var info = new DirectoryInfo(dir);
            var path = System.IO.Path.GetRelativePath(_env.ContentRootPath + "/Data/" + user.Id + "/", dir);
            <tr>
                <td>
                    <span class="ficon">
                        <a asp-route-path="@path" class="ficon">
                            <img src="https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Folder/SVG/ic_fluent_folder_32_regular.svg" />
                            @info.Name
                        </a>
                    </span>
                </td>
                <td>
                    <a class="d-flex align-items-center"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end "
                        aria-labelledby="navbarDropdownMenuLink" style="background: #013a63 !important">
                        <li>
                            <a class="dropdown-item text-white nohover" asp-page-handler="DeleteFolder" asp-route-path="@path" asp-route-fileName="@info.Name"><i class="fas fa-trash text-danger"></i> Delete</a>
                        </li>
                    </ul>
                </td>
                <td>-</td>
                <td>@info.LastWriteTime.ToShortDateString()</td>
            </tr>
        }
        @{ i = 0; }
        @foreach (var file in Directory.GetFiles(currentPath))
        {
            var info = new FileInfo(file);
            var path = System.IO.Path.GetRelativePath(_env.ContentRootPath + "/Data/" + user.Id + "/", file);

            <tr>
                <td>
                    <span class="ficon">
                        <a asp-route-path="@path" asp-page-handler="Download" class="ficon">
                            <img src="https://raw.githubusercontent.com/microsoft/fluentui-system-icons/master/assets/Document/SVG/ic_fluent_document_32_regular.svg" />
                            @info.Name
                        </a>
                    </span>
                </td>
                <td>
                    <a class="d-flex align-items-center"
                       href="#"
                       id="navbarDropdownMenuLink"
                       role="button"
                       data-mdb-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end "
                        aria-labelledby="navbarDropdownMenuLink" style="background: #013a63 !important">
                        <li>
                            <a class="dropdown-item text-white nohover" asp-page-handler="DeleteFile" asp-route-path="@path" asp-route-fileName="@info.Name"><i class="fas fa-trash text-danger"></i> Delete</a>
                        </li>
                    </ul>
                </td>
                <td>@FileMethods.BytesToString(info.Length)</td>
                <td>@info.LastWriteTime.ToShortDateString()</td>
            </tr>
            i++;
        }
    </tbody>
</table>
<div class="modal fade" id="fileUploadModal" tabindex="-1" aria-labelledby="fileUploadModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form enctype="multipart/form-data" method="post" asp-page-handler="Upload">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileUploadModalLabel">Upload</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="file" asp-for="UploadedFiles" multiple="true">
                    <input type="hidden" name="Path" value="@Model.Path" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal fade" id="newFolderModal" tabindex="-1" aria-labelledby="newFolderModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="CreateFolder">
                <div class="modal-header">
                    <h5 class="modal-title" id="newFolderModalLabel">Create new Folder</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="fileName">Foldername</label>
                    <input type="text" name="foldername" id="fileName" class="form-control" />
                    <input type="hidden" name="Path" value="@Model.Path" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts
{
    <script>
        window.history.replaceState(null, null, window.location.pathname);
    </script>
}
